In [43]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [44]:
#Reading CSV data file
df = pd.read_csv("C:/Users/jadha/Downloads/insurance.csv")
df

,age,gender,bmi,bloodpressure,diabetic,children,smoker,region,claim
0,19,female,27.9,107,No,0,Yes,southwest,16884.92
1,18,male,33.8,133,No,1,No,southeast,1725.55
2,28,male,33.0,88,Yes,3,No,southeast,4449.46
3,33,male,22.7,119,Yes,0,No,northwest,21984.47
4,32,male,28.9,91,No,0,No,northwest,3866.86
...,...,...,...,...,...,...,...,...,...
1333,50,male,31.0,98,No,3,No,northwest,10600.55
1334,18,female,31.9,138,No,0,No,northeast,2205.98
1335,18,female,36.9,114,No,0,No,southeast,1629.83
1336,21,female,25.8,121,Yes,0,No,southwest,2007.95
1337,61,female,29.1,139,No,0,Yes,northwest,29141.36

In [45]:
df.head()

,age,gender,bmi,bloodpressure,diabetic,children,smoker,region,claim
0,19,female,27.9,107,No,0,Yes,southwest,16884.92
1,18,male,33.8,133,No,1,No,southeast,1725.55
2,28,male,33.0,88,Yes,3,No,southeast,4449.46
3,33,male,22.7,119,Yes,0,No,northwest,21984.47
4,32,male,28.9,91,No,0,No,northwest,3866.86

In [46]:
df.tail()

,age,gender,bmi,bloodpressure,diabetic,children,smoker,region,claim
1333,50,male,31.0,98,No,3,No,northwest,10600.55
1334,18,female,31.9,138,No,0,No,northeast,2205.98
1335,18,female,36.9,114,No,0,No,southeast,1629.83
1336,21,female,25.8,121,Yes,0,No,southwest,2007.95
1337,61,female,29.1,139,No,0,Yes,northwest,29141.36

In [47]:
#checking data types
df.dtypes

age                int64
gender            object
bmi              float64
bloodpressure      int64
diabetic          object
children           int64
smoker            object
region            object
claim            float64
dtype: object

In [48]:
#to check if any null value is present
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            1338 non-null   int64
 1   gender         1338 non-null   object
 2   bmi            1338 non-null   float64
 3   bloodpressure  1338 non-null   int64
 4   diabetic       1338 non-null   object
 5   children       1338 non-null   int64
 6   smoker         1338 non-null   object
 7   region         1338 non-null   object
 8   claim          1338 non-null   float64
dtypes: float64(2), int64(3), object(4)
memory usage: 94.2+ KB

In [49]:
#to detect number of missing values
df.isnull().sum()

age              0
gender           0
bmi              0
bloodpressure    0
diabetic         0
children         0
smoker           0
region           0
claim            0
dtype: int64

In [54]:
x = df[["gender","diabetic","smoker","region"]]

In [58]:
x = pd.get_dummies(x, drop_first=True)
x

,gender_male,diabetic_Yes,smoker_Yes,region_northwest,region_southeast,region_southwest
0,0,0,1,0,0,1
1,1,0,0,0,1,0
2,1,1,0,0,1,0
3,1,1,0,1,0,0
4,1,0,0,1,0,0
...,...,...,...,...,...,...
1333,1,0,0,1,0,0
1334,0,0,0,0,0,0
1335,0,0,0,0,1,0
1336,0,1,0,0,0,1
1337,0,0,1,1,0,0

In [60]:
merged = pd.concat([df,x],axis="columns")
merged

,age,gender,bmi,bloodpressure,diabetic,children,smoker,region,claim,gender_male,diabetic_Yes,smoker_Yes,region_northwest,region_southeast,region_southwest
0,19,female,27.9,107,No,0,Yes,southwest,16884.92,0,0,1,0,0,1
1,18,male,33.8,133,No,1,No,southeast,1725.55,1,0,0,0,1,0
2,28,male,33.0,88,Yes,3,No,southeast,4449.46,1,1,0,0,1,0
3,33,male,22.7,119,Yes,0,No,northwest,21984.47,1,1,0,1,0,0
4,32,male,28.9,91,No,0,No,northwest,3866.86,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1333,50,male,31.0,98,No,3,No,northwest,10600.55,1,0,0,1,0,0
1334,18,female,31.9,138,No,0,No,northeast,2205.98,0,0,0,0,0,0
1335,18,female,36.9,114,No,0,No,southeast,1629.83,0,0,0,0,1,0
1336,21,female,25.8,121,Yes,0,No,southwest,2007.95,0,1,0,0,0,1
1337,61,female,29.1,139,No,0,Yes,northwest,29141.36,0,0,1,1,0,0

In [70]:
final = merged.drop(["gender","diabetic","smoker","region"],axis='columns')

In [71]:
final

,age,bmi,bloodpressure,children,claim,gender_male,diabetic_Yes,smoker_Yes,region_northwest,region_southeast,region_southwest
0,19,27.9,107,0,16884.92,0,0,1,0,0,1
1,18,33.8,133,1,1725.55,1,0,0,0,1,0
2,28,33.0,88,3,4449.46,1,1,0,0,1,0
3,33,22.7,119,0,21984.47,1,1,0,1,0,0
4,32,28.9,91,0,3866.86,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1333,50,31.0,98,3,10600.55,1,0,0,1,0,0
1334,18,31.9,138,0,2205.98,0,0,0,0,0,0
1335,18,36.9,114,0,1629.83,0,0,0,0,1,0
1336,21,25.8,121,0,2007.95,0,1,0,0,0,1
1337,61,29.1,139,0,29141.36,0,0,1,1,0,0

In [108]:
final.corr()

,age,bmi,bloodpressure,children,claim,gender_male,diabetic_Yes,smoker_Yes,region_northwest,region_southeast,region_southwest
age,1.000000,0.109341,-0.080593,0.042469,0.299008,-0.020856,-0.002631,-0.025019,-0.000407,-0.011642,0.010016
bmi,0.109341,1.000000,-0.015544,0.012645,0.198576,0.046380,-0.034645,0.003968,-0.135992,0.270144,-0.006398
bloodpressure,-0.080593,-0.015544,1.000000,-0.043967,-0.028208,-0.009029,0.034866,-0.010993,-0.029181,-0.000166,-0.013457
children,0.042469,0.012645,-0.043967,1.000000,0.067998,0.017163,-0.014702,0.007673,0.024806,-0.023066,0.021914
claim,0.299008,0.198576,-0.028208,0.067998,1.000000,0.057292,-0.008710,0.787251,-0.039905,0.073982,-0.043210
gender_male,-0.020856,0.046380,-0.009029,0.017163,0.057292,1.000000,-0.017516,0.076185,-0.011156,0.017117,-0.004184
diabetic_Yes,-0.002631,-0.034645,0.034866,-0.014702,-0.008710,-0.017516,1.000000,0.017550,-0.037325,0.012161,-0.019881
smoker_Yes,-0.025019,0.003968,-0.010993,0.007673,0.787251,0.076185,0.017550,1.000000,-0.036945,0.068498,-0.036945
region_northwest,-0.000407,-0.135992,-0.029181,0.024806,-0.039905,-0.011156,-0.037325,-0.036945,1.000000,-0.346265,-0.320829
region_southeast,-0.011642,0.270144,-0.000166,-0.023066,0.073982,0.017117,0.012161,0.068498,-0.346265,1.000000,-0.346265
region_southwest,0.010016,-0.006398,-0.013457,0.021914,-0.043210,-0.004184,-0.019881,-0.036945,-0.320829,-0.346265,1.000000

In [75]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [78]:
x = final.drop("claim",axis='columns')
x

,age,bmi,bloodpressure,children,gender_male,diabetic_Yes,smoker_Yes,region_northwest,region_southeast,region_southwest
0,19,27.9,107,0,0,0,1,0,0,1
1,18,33.8,133,1,1,0,0,0,1,0
2,28,33.0,88,3,1,1,0,0,1,0
3,33,22.7,119,0,1,1,0,1,0,0
4,32,28.9,91,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...
1333,50,31.0,98,3,1,0,0,1,0,0
1334,18,31.9,138,0,0,0,0,0,0,0
1335,18,36.9,114,0,0,0,0,0,1,0
1336,21,25.8,121,0,0,1,0,0,0,1
1337,61,29.1,139,0,0,0,1,1,0,0

In [80]:
y = final.claim
y

0       16884.92
1        1725.55
2        4449.46
3       21984.47
4        3866.86
          ...
1333    10600.55
1334     2205.98
1335     1629.83
1336     2007.95
1337    29141.36
Name: claim, Length: 1338, dtype: float64

In [85]:
from sklearn.model_selection import train_test_split

In [86]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

In [87]:
len(x_train)

1070

In [88]:
len(x_test)

268

In [89]:
len(y_train)

1070

In [90]:
len(y_test)

268

In [98]:
train1 = model.fit(x_train,y_train)
train1

LinearRegression()

In [99]:
test1 = model.score(x_test,y_test)
test1

0.7421276114596865

In [102]:
x_train = sm.add_constant(x_train)
res = sm.OLS(y_train, x_train).fit()
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  claim   R-squared:                       0.753
Model:                            OLS   Adj. R-squared:                  0.751
Method:                 Least Squares   F-statistic:                     322.6
Date:                Wed, 16 Jun 2021   Prob (F-statistic):          3.76e-313
Time:                        23:37:15   Log-Likelihood:                -10828.
No. Observations:                1070   AIC:                         2.168e+04
Df Residuals:                    1059   BIC:                         2.173e+04
Df Model:                          10
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
const            -1.203e+04   1619.594     -7.429      0.000   -1.52e+04   -8853.232
age                252.0663     13.299     18.954      0.000     225.971     278.161
bmi                336.8400     31.271     10.772      0.000     275.479     398.201
bloodpressure        4.0730     10.534      0.387      0.699     -16.598      24.744
children           443.1321    153.604      2.885      0.004     141.730     744.535
gender_male        -98.0192    371.175     -0.264      0.792    -826.341     630.303
diabetic_Yes      -105.3673    371.691     -0.283      0.777    -834.702     623.968
smoker_Yes        2.384e+04    460.151     51.808      0.000    2.29e+04    2.47e+04
region_northwest  -426.1375    524.677     -0.812      0.417   -1455.663     603.388
region_southeast  -873.7596    532.798     -1.640      0.101   -1919.220     171.701
region_southwest -1366.9009    543.388     -2.516      0.012   -2433.140    -300.662
==============================================================================
Omnibus:                      239.139   Durbin-Watson:                   1.988
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              573.441
Skew:                           1.194   Prob(JB):                    3.01e-125
Kurtosis:                       5.675   Cond. No.                     1.07e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.07e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [ ]:
#y_predicted = lm.predict(x_test)
#residuals_scaled = y_test - y_predicted

In [ ]:
#model=linear_model.LinearRegression()

In [ ]:
#model.fit(x_train,y_train)

In [ ]:
#predicted_y_test = model.predict(x_test)

In [103]:
x_test = sm.add_constant(x_test)
res = sm.OLS(y_test, x_test).fit()
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  claim   R-squared:                       0.754
Model:                            OLS   Adj. R-squared:                  0.744
Method:                 Least Squares   F-statistic:                     78.59
Date:                Wed, 16 Jun 2021   Prob (F-statistic):           2.72e-72
Time:                        23:37:51   Log-Likelihood:                -2713.6
No. Observations:                 268   AIC:                             5449.
Df Residuals:                     257   BIC:                             5489.
Df Model:                          10
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
const            -1.528e+04   3828.397     -3.990      0.000   -2.28e+04   -7737.925
age                278.3191     27.821     10.004      0.000     223.534     333.104
bmi                368.7750     71.757      5.139      0.000     227.469     510.081
bloodpressure       17.7711     22.700      0.783      0.434     -26.930      62.472
children           643.3645    321.865      1.999      0.047       9.537    1277.192
gender_male         74.8231    774.443      0.097      0.923   -1450.239    1599.886
diabetic_Yes     -1455.2625    767.052     -1.897      0.059   -2965.770      55.245
smoker_Yes        2.395e+04    947.370     25.281      0.000    2.21e+04    2.58e+04
region_northwest    23.8416   1188.240      0.020      0.984   -2316.086    2363.769
region_southeast -1657.4845   1101.480     -1.505      0.134   -3826.561     511.592
region_southwest   264.3144   1040.750      0.254      0.800   -1785.170    2313.799
==============================================================================
Omnibus:                       59.280   Durbin-Watson:                   1.920
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              112.445
Skew:                           1.147   Prob(JB):                     3.83e-25
Kurtosis:                       5.193   Cond. No.                     1.24e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.24e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [104]:
x_test

,const,age,bmi,bloodpressure,children,gender_male,diabetic_Yes,smoker_Yes,region_northwest,region_southeast,region_southwest
159,1.0,50,27.8,113,3,0,0,0,0,1,0
101,1.0,30,25.5,134,0,1,1,0,0,0,0
231,1.0,59,27.8,84,3,0,1,0,0,1,0
779,1.0,53,28.9,82,0,1,1,0,1,0,0
545,1.0,49,25.8,83,2,1,1,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1244,1.0,18,33.3,88,0,1,1,0,0,1,0
882,1.0,21,22.1,111,0,0,1,0,0,0,0
1252,1.0,20,27.3,124,0,1,1,1,0,0,1
564,1.0,18,32.1,131,2,0,0,0,0,1,0
15,1.0,19,24.6,100,1,1,0,0,0,0,1

In [105]:
yhat = res.predict(x_test)
yhat

159     11171.696542
101      3477.277010
231     11705.943497
779     10232.194799
545     33230.790330
            ...
1244      538.937230
882      -764.988603
1252    25395.058695
564      3527.733686
15       1842.593031
Length: 268, dtype: float64

In [106]:
from sklearn import metrics
MSE = print('MSE:',metrics.mean_absolute_error(y_test,yhat))

MSE: 4249.086381440754

In [107]:
import math
math.sqrt(4249.086381440754)

65.18501654092567